/*section carrinho*/

.sctCarrinhoCss {
    position: fixed;
    width: 80%;
    height: 90%;
    margin-left: 100%;
    background-color: white;
    border: 0.5px solid #808080;
    border-radius: 10px;
    overflow-y: auto;
    transition: margin-left 0.3s;
}

.boxCompra{
    position: fixed;
    text-align: center;
    padding-top: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 62%;
    margin-top: 20%;
    width: 15%;
    height: 40%;
    background-color: rgb(220, 220, 220, 20%);
    border-radius: 2px;
}

.btComprarCss{
    position: fixed;
    margin-top: 35%;
    margin-left: 70%;
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btFecharCartCss{
    position: fixed;
    background-color: orange;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.btFecharCartCss:hover {
    background-color: orangered;
}

.divProdutosCartCss {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px 10%;
}

.divProdutosCartCss h1{
    margin-top: 30%;
    margin-left: 20%;
    font-size: 150%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #808080;

}

.boxProdutoCarrinhoCss {
    text-align: center;
    display: inline-block;
    margin-right: 1%;
    padding: 15px;
    width: 15.8%;
    margin-bottom: 1%;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 320px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.boxProdutoCarrinhoCss:hover {
    transform: scale(1.02);
}

.boxProdutoCarrinhoCss img {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.boxProdutoCarrinhoCss h3 {
    font-size: 90%;
    margin: 5px 0;
}

.boxProdutoCarrinhoCss p {
    margin: 10px 0 0 0;
}

.boxProdutoCarrinhoCss button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5%;
}

.boxProdutoCarrinhoCss button:hover {
    background-color: orangered;
}


.remove {
    background-color: #f44336;
}

.remove:hover {
    background-color: #e53935;
}

.descri{
    height: 40%;
}

/*boxSombraCss*/

.boxSombraCss{
    position: fixed;
    width: 100%;
    height: 150%;
    background-color: rgb(0, 0, 0, 45%);
    margin-top: -30%;
    margin-left: 100%;
}