/*estilização global*/

main {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}

/*Section Banner*/

.sctBannerCss {
    padding: 20px;
}

.sctBannerCss img {
    width: 60%;
    margin: 0px 20%;
    border-radius: 5px;
}

/*div do banner*/

/*Section produtos*/

.sctProdutosCss{
    align-items: center;
    padding: 10px;
}

/*div do filtro*/

.boxFiltros {
    background-color: white;
    width: 80%;
    padding: 10px;
    border: solid #808080 0.5px;
    border-radius: 5px;
    padding-right: 2px;
    box-shadow: 1px 2px 5px rgb(0, 0, 0, 0.3);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.bxlineFiltroCss{
    display: inline;
}

.boxFiltros h2 {
    text-align: center;
}

.boxFiltros h3{
    margin-top: 5px;
    margin-bottom: 10px;
}

/*inputs e buttos da div filtros*/

.boxFiltros input {
    border:solid gray 0.2px ;
    border-radius: 2px;
    width: 250px;
}

.boxFiltros input[type = "number"]{
    width: 80px;
    margin-left: 3px;
    margin-right: 5px;
}

.boxFiltros button {
    text-align: center;
    width: 10%;
    height: 20px;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    background-color: orange;
    color: white;
    
}

.boxFiltros button:hover{
    scale: 110%;
    transition: 0.6s;
    cursor: pointer;
}

.boxFiltros button:active{
    background-color: orangered;
    transition: 0s;
}

/*div Produtos*/

.boxProdutosCss {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    padding: 10px;
    border: solid 0.2px gray;
    border-radius: 2px ;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.boxProduto {
    display: inline-block;
    padding: 10px;
    width: 16.5%;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 290px;
}

.boxProduto h3{
    font-size: 13px;
    text-align: center;
}

.boxProduto img {
    width: 110px;
    margin: 0px 12%;
}

.boxProduto button {
    display: inline-block;
    background-color: coral;
    border: none;
    text-align: center;
    border-radius: 5px;
    color: white;
    padding: 4px;
    width: 60%;
    margin-bottom: auto;
    transition: 0.6s;
    right: 0px;
}

.boxProduto button:hover{
    scale: 110%;
    transition: 0.6s;
    cursor: pointer;
}

.boxProduto button:active{
    background-color: darkred;
    transition: 0s;
}